body {
    font-family: Montserrat;
}

ul.main-menu li {
    color: black;
    font-family: Montserrat Light;
    display: inline;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 18px;
}
ul.main-menu {
    font-size: 14px;
    text-align: center;
}

.main-menu {
    margin-top: -30px;
    top: 0px;
    left: 216px;
    width: 1184px;
    height: 68px;
}

a {
    padding: 18px;
}
a:hover {
    background: green;
    color: green;
}
a:link {
    color: black;
}
a:hover {
    background: white;
    color: #B5E61D;
}

.cap {
    width: 1184px;
    height: 68px;
}

.fa-phone {
    float: right;
    margin-top: -30px;
    margin-right: 80px;
}

form {
    top: 279px;
    left: 115px;
    width: 432px;
    height: 250px;
    background: #97D700 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}

input {
    left: 159px;
    width: 344px;
    height: 24px;
    text-align: center;
    margin-left: 43.97px;
    margin-top: 20px;
    background: #97D700;
    border-bottom: white 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
    font: Regular 13px Montserrat;
    letter-spacing: 0;
    color: gold;
    opacity: 1;
}

.form-action {
    padding-top: 55px;
    padding-left: 115px;
}

button {
    margin-left: 76px;
    margin-top: 30px;
    margin-bottom: 29px;
    background: #ffffff;
    border-radius: 7px;
    opacity: 1;
    color: #97D700;
}

.cta {
    top: 460px;
    left: 191px;
    width: 279px;
    height: 40px
}

.logo {
    background: #97D700;
    color: white;
    text-align: center;
    display: inline-block;
    top: 0px;
    left: -7px;
    width: 223px;
    height: 68px;
    background: #97D700 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 7px 0px;
    opacity: 1;
}